@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <i class="ti ti-x fs-8"></i>
    <i class="bi bi-list"></i>
    <i class="bi bi-house"></i>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
